:root {
  --vp-c-brand-1: #ec661d;
  --vp-c-brand-2: #d38054;
  --vp-c-brand-3: #bd5c28;
}

a.footnote-backref {
  text-decoration: none;
}

dl {
  margin: 1em 0;
}

dt {
  margin-bottom: 0.25em;
}

dd {
  margin-bottom: 1em;
}
